{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
<div class="hero">
    <h1 class="display-1">Bienvenue sur SHARE</h1>
    <h2 class="display-4">Partagez vos fichiers facilement et rapidement</h2>
    <div>
        <i class="bi bi-cloud-arrow-up-fill feature-icons"></i>
        <i class="bi bi-folder feature-icons"></i>
        <i class="bi bi-cloud-arrow-down-fill feature-icons"></i>
    </div>
</div>

<div class="container text-center mt-5 mb-5"> <!-- Ajout de mb-5 pour plus d'espace -->
    <h3 class="text-light mb-4">Pourquoi choisir SHARE ?</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sécurisé</h4>
                    <p class="card-text">Vos fichiers sont protégés.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rapide</h4>
                    <p class="card-text">Partagez vos fichiers en quelques clics seulement.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Facile à utiliser</h4>
                    <p class="card-text">Une interface intuitive qui vous facilite la vie.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center mt-5 mb-5"> <!-- Ajout de mb-5 pour l'espacement -->
    <a href="" class="btn btn-gradient btn-lg">Commencez à partager</a>
</div>
{% endblock %}
